@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Radio Canada", sans-serif;
}

/* CSS for Tic-Tac-Toe game */
/* Header Styling */
header {
  text-align: center;
  color: #ffffff;
  /* Bright white color */
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Subtle text shadow */
}

/* Box Styling */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}

/* Row Styling */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Styling */
.btn {
  border: 1px solid #000;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease, cursor 0.3s ease;
}
/*Button Hover Styling*/
.btn:hover{
  background-color: rgba(255, 255, 255, 0.9);
  cursor:pointer;
}
/*Disable Button Styling*/
.btn:disabled{
  color: #777;
  cursor: not-allowed;
}
/*Result Container*/
.result-container{
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
}
.result{
  font-size: 25px;
}
/*Reset Styling: */
.reset-section{
  margin-top: 20px;
  text-align: center;
}

/*Reset Button Styling*/
#reset{
  border: 1px solid #000;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/*Reset button hover*/

#reset:hover{
  background-color: #ffffff;
  columns: #000;
}